.dark {
  background: linear-gradient(245.2deg, #1e2935 3.43%, #141414 99.51%);
}

.light {
  background: linear-gradient(245.2deg, #d8dadc 3.43%, #f3f3f3 99.51%);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  font-size: 18px;
  padding: 20px;

  .header-left {
    display: flex;
    flex-direction: column;
    padding-right: 25%;

    .header-icon {
      display: flex;

      p {
        display: flex;
        align-items: center;
        font-weight: bold;
        margin: 20px;
      }
    }

    .header-nav {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .header-link {
        display: flex;
        align-items: center;
      }

      p {
        margin: 10px;
      }
    }
  }

  .header-right {
    cursor: pointer;
  }
}

@media only screen and (max-width: 612px) {
  .header {
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    width: 100%;
    height: 80px;
    font-size: 16px;
    top: 0;
    margin: 0;

    .header-left {
      padding-right: 0;

      .header-icon {
        // display: none;
      }

      .header-nav {
        position: relative;
        top: 5px;
        left: 10px;
      }
    }

    .header-right {
      padding: 15px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    font-size: 14px;
  }
}

@media only screen and (max-width: 300px) {
  .header {
    font-size: 10px;
  }
}
