.article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;

  .title {
    font-size: 150%;
    margin: 20px 0;
  }

  .image-container {
    position: relative;
    width: 700px;
    height: 350px;
    overflow: hidden;
    border-radius: 5px;
    margin: 20px 0;
  }

  .description {
    width: 80%;
    font-size: 100%;
    font-style: italic;
    margin: 20px 0;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    line-height: 1.1;
    letter-spacing: 0.02rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote {
      margin: 10px 0;
    }

    h1 {
      font-size: 110%;
    }

    blockquote {
      font-style: italic;
    }

    a {
      color: #6ebbff;
    }

    .img-horizontal {
      position: relative;
      width: 600px;
      height: 400px;
    }

    .img-vertical {
      position: relative;
      width: 300px;
      height: 500px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .article {
    .description {
      width: 90%;
    }

    .content {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 750px) {
  .article {
    margin-top: 200px;

    .description {
      width: 100%;
    }

    .image-container {
      width: 90%;
      height: 250px;
    }

    .content {
      width: 100%;

      .img-horizontal {
        width: 100%;
        height: 350px;
      }

      .img-vertical {
        width: 300px;
        height: 400px;
      }
    }
  }
}

@media only screen and (max-width: 612px) {
  .article {
    width: 95%;
    margin-top: 150px;

    .image-container {
      height: 200px;
    }

    .content {
      .img-horizontal {
        width: 100%;
        height: 300px;
      }

      .img-vertical {
        width: 250px;
        height: 400px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .article {
    .content {
      .img-horizontal {
        width: 100%;
        height: 250px;
      }

      // .img-vertical {
      //   width: 250px;
      //   height: 400px;
      // }
    }
  }
}
