.hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 200px;

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;

    p {
      font-size: 20px;
      margin: 20px 0;
    }

    .hero-title {
      font-size: 35px;
      font-weight: 700;
    }

    .hero-button {
      width: 50%;
      background: linear-gradient(180deg, #00ffc2 0%, #00cc9c 100%);
      border-radius: 42px;
      font-size: 18px;
      height: 30px;
      margin: 10px 0;
    }

    .hero-button:hover {
      cursor: pointer;
    }
  }

  .hero-image {
    position: relative;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
  }

  .hero-button-mobile {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .hero {
    .hero-image {
      height: 350px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

    .hero-text {
      .hero-button {
        display: none;
      }
    }

    .hero-image {
      margin-top: 20px;
      width: 400px;
      height: 430px;
    }

    .hero-button-mobile {
      display: block;
      width: 50%;
      background: linear-gradient(180deg, #00ffc2 0%, #00cc9c 100%);
      border-radius: 42px;
      height: 30px;
      margin: 50px 0;

      p {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        font-weight: 550;
      }
    }
  }
}

@media only screen and (max-width: 612px) {
  .hero {
    margin-top: 150px;

    .hero-image {
      margin-top: 20px;
      width: 400px;
      height: 200px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .hero {
    .hero-text {
      width: 300px;
    }

    .hero-image {
      width: 300px;
      height: 150px;
    }
  }
}
