.hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 200px;

  .heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;

    p {
      font-size: 20px;
      margin: 20px 0;
    }

    .heroTitle {
      font-size: 35px;
      font-weight: 700;
    }

    .heroButton {
      width: 50%;
      background: linear-gradient(180deg, #00ffc2 0%, #00cc9c 100%);
      border-radius: 42px;
      font-size: 18px;
      height: 30px;
      margin: 10px 0;
    }

    .heroButton:hover {
      cursor: pointer;
    }
  }

  .heroImage {
    position: relative;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
  }

  .heroButtonMobile {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .hero {
    .heroImage {
      height: 350px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .hero {
    // background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

    .heroText {
      .heroButton {
        display: none;
      }
    }

    .heroImage {
      margin-top: 20px;
      width: 400px;
      height: 430px;
    }

    .heroButtonMobile {
      display: block;
      width: 50%;
      background: linear-gradient(180deg, #00ffc2 0%, #00cc9c 100%);
      border-radius: 42px;
      font-size: 15px;
      height: 30px;
      margin: 50px 0;
    }
  }
}

@media only screen and (max-width: 612px) {
  .hero {
    margin-top: 150px;

    .heroImage {
      margin-top: 20px;
      width: 400px;
      height: 200px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .hero {
    .heroText {
      width: 300px;
    }

    .heroImage {
      width: 300px;
      height: 150px;
    }
  }
}
