.portofolio {
  width: 100%;
  margin: 10px 0;

  .title {
    font-size: 35px;
    text-align: center;
    margin: 20px;
  }

  .more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    font-size: 150%;

    .moreIcon {
      margin-right: 10px;
    }

    @media only screen and (max-width: 612px) {
      font-size: 100%;
    }
  }

  .more:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
