.projects {
  margin: 10px auto;

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;

    a {
      list-style: none;
      color: inherit;
    }

    .top {
      position: relative;
      margin: 15px 0;

      .imgContainer {
        width: 700px;
        height: 350px;
        overflow: hidden;
        border-radius: 5px;
      }
    }

    .bottom {
      width: 700px;
      margin: 15px 0;

      .project-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 15px 0;

        a {
          p {
            font-size: 150%;
            margin: 0 10px 0 0;
          }
        }

        a:hover {
          text-decoration: underline;
        }

        .iconUrl {
          margin: 0 5px;
        }
      }

      .project-desc {
        font-size: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .projects {
    .card {
      .top {
        width: 100%;
      }

      .bottom {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .projects {
    .card {
      .top {
        .imgContainer {
          width: 500px;
          height: 250px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .projects {
    .card {
      .top {
        .imgContainer {
          width: 90%;
          height: 250px;
        }
      }
    }
  }
}

@media only screen and (max-width: 612px) {
  .projects {
    .card {
      .top {
        .imgContainer {
          height: 200px;
        }
      }

      .bottom {
        .project-title {
          font-size: 90%;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .projects {
    .card {
      .top {
        width: 90%;
        height: 180px;
      }

      .bottom {
        width: 90%;
        .project-title {
          font-size: 80%;
        }

        .project-desc {
          font-size: 90%;
        }
      }
    }
  }
}

@media only screen and (max-width: 376px) {
  .projects {
    .card {
      .top {
        .imgContainer {
          width: 80%;
          height: 150px;
        }
      }

      .bottom {
        .project-title {
          font-size: 70%;
        }

        .project-desc {
          font-size: 80%;
        }
      }
    }
  }
}
