@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body,
button {
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
  // background: linear-gradient(245.2deg, #2e2e2e 0.6%, #242424 99.51%);
  color: white;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  box-shadow: none;
}

@media only screen and (max-width: 1150) {
  html,
  body,
  button {
    font-size: 16px;
  }
}
