.dark {
  background: linear-gradient(245.2deg, #1e2935 3.43%, #141414 99.51%);

  color: #e6e6e6;
}

.light {
  background: linear-gradient(245.2deg, #d8dadc 3.43%, #f3f3f3 99.51%);

  color: #000000;
}
