.dark {
  background: linear-gradient(245.2deg, #1e2935 3.43%, #141414 99.51%);
  color: #e6e6e6;

  a {
    color: #f6f6f6;
  }

  a:hover {
    color: #c7c7c7;
  }

  pre {
    background: linear-gradient(274.82deg, #000000 10.92%, #2C192D 90.29%);

  }
}

.light {
  background: linear-gradient(245.2deg, #d8dadc 3.43%, #f3f3f3 99.51%);
  color: #000000;

  a {
    color: #0b0b0b;
  }

  a:hover {
    color: #adadad;
  }

  pre {
    background: linear-gradient(274.82deg, #000000 10.92%, #250000 90.29%);

  }
}
